
body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
    width: 200px;
    height: 200px;
    font-size: 20px;
}

h1{
    text-decoration: underline;
}
